.form-stops {
  display:flex;
  justify-content: space-between;
  height:100px;
  margin-top: 18px;
  align-items: center;

}

.description-stops {
max-width: 75%;

}

h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

.content-stop {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-left: 12px;
  margin-bottom: 12px;
  margin-top: -6px;
}

.separator{

  background-color: $gray;
  padding: 0.5px;
  width: 100%;
  margin-top: 4px;

}


.input {
  background-color:$action-light !important;
  border-radius: 38px !important;
  border: none !important;
  color:$white !important;
  font-weight: 500  !important;
}

.btn-itinerary {
  background-color: $action;
  padding: 14px;
  margin: auto;
  width: fit-content;
  border-radius: 45px;
  color: white;
  font-weight: bold;
  margin-top: 21px;
  margin-bottom: 23px;
}




