.padding{
    padding: 28px;

  }

.tag {
  padding: 6px;
  border-radius: 12px;
  color: $black;
  background-color: $action-light;
  text-align: center;
  width: fit-content;
  margin: 2px;
}



.tags{
  display: flex;
  flex-wrap: wrap;

}
