body {
  color: $black;
  text-align: justify;
  background-color: $white;
}

h1 {
  font-size: 1.75rem;
  font-weight: 800;
}

h2 {
  font-size: 1.50rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

.home-banner {
  height: 670px;
}

.content {
  width: 100%;
  position: relative;
}

.btn-login {
  position: absolute;
  top: 537px;
  left: 110px;
}

.instruction {
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;

}

.illustration-image {
  height: 100px;
  width: auto;
}

