.order-counter {
  position:absolute;
  background-color: rgba(218, 218, 218, 0.9);
  height:10vh;
  width:10vh;
  border-radius: 50%;
  bottom: 25px;
  right: 25px;
  z-index: 2;
  color:rgb(24, 29, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
}

#distance-time {
  position:absolute;
  background-color: black;
  color: white;
  width: fit-content;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 0;
  padding: 3px 15px;
  box-shadow: 0px 3px 4px -1px rgba(163,163,163,0.46);

}

#stop {
  position: absolute;
  background-color: white;
  padding: 30px 20px;
  height:20vh;
  max-height:20vh;
  z-index: 23;
  bottom: 0;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  transition: 0.8s ease;

  .preview-picture {
    position: relative;
    top: -160px;
    margin-bottom: -120px;
    background-color: #DCDBDB;
    height:110px;
    width:110px;
    z-index: 2;
    border-radius: 10px;
    border: 23px;
    border-color: white;
    overflow: hidden;
    transition: 0.8s ease;

    #stop-image img {
      object-fit: cover;
      width: 100%;
    }


  }

p {
      font-size: 1.05rem;
      font-weight: 300;
    }
  .preview-picture.open {
    top: -90px;
    margin-bottom: -70px;
  }

  h1 {
    text-align: left;
  }
}

.stops-popup-page {
  background-color: rgb(238, 238, 238);
  // transform: translateY(0vh) !important;
  // transition: 1s;
  // overflow: hidden !important;
  height: 80vh !important;
  max-height: 80vh !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;

}

.map-container {
  position: relative;
  height: 100vh;
}
.mapboxgl-popup {
  display: none !important;
}
#marker-not-display {
  display: none !important;
}
.stop-image {
  background-height:10vh;
  height:10vh;
  width:10vh;
}

#top-description{
  margin-left: 20px;
}

#content-not-display{
  display:none;

}


#content-display{
  display:initial;

}

#stop-order {
  padding-top: 17px;
}
