.preview-picture {
  position:absolute;
  background-color: black;
  height:16vh;
  width:16vh;
  bottom: 25px;
  left: 25px;
  z-index: 2;
  border-radius: 10px;
  border: 23px;
  border-color: white;
  overflow: hidden;

}

.order-counter {
  position:absolute;
  background-color: rgba(218, 218, 218, 0.9);
  height:10vh;
  width:10vh;
  border-radius: 50%;
  bottom: 25px;
  right: 25px;
  z-index: 2;
  color:rgb(24, 29, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
}

#stop {
  background-color: rgb(238, 238, 238);
  padding: 13px 13px 0px 13px;
  height:100%;

}

.map-container {
      position: relative;
}
.mapboxgl-popup {
  display: none !important;
}
#marker-not-display {
  display: none !important;
}
.stop-image {
  background-height:10vh;
  height:10vh;
  width:10vh;
}

#top-description{
  margin-left: 20px;
}

