<div class="category-cards-wrapper">
  <div class="category-cards-container mt-3">
    <div class="category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1476362174823-3a23f4aa6d76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
      <h3 class="px-3 pt-3">History</h3>
      <p class="px-3">54 guides</p>
    </div>
    <div class="category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
      <h3 class="px-3 pt-3">Food</h3>
      <p class="px-3">33 guides</p>
    </div>
    <div class="category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1508923567004-3a6b8004f3d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
      <h3 class="px-3 pt-3">Adventure</h3>
      <p class="px-3">47 guides</p>
    </div>
    <div class="category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1561527261-2fa922171984?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
      <h3 class="px-3 pt-3">Nature</h3>
      <p class="px-3">29 guides</p>
    </div>
    <div class="category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1485236715568-ddc5ee6ca227?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
      <h3 class="px-3 pt-3">Horror</h3>
      <p class="px-3">66 guides</p>
    </div>
  </div>
</div>
