<% if user_signed_in? %>
  <div id="phone-container">
    <div id="nav-container">
     <!--  <div class="outer-nav-item">
        <%= link_to dashboard_path  %>
          <img src="https://image.flaticon.com/icons/svg/34/34097.svg">
         < end %>
      </div> -->

      <div id="nav" class="closed">

        <div class='nav-item'>
         <%= link_to image_tag('https://image.flaticon.com/icons/svg/263/263115.svg'), dashboard_path %>
        </div>

        <div class="nav-item">
         <%= link_to image_tag('https://icon-library.net/images/logout-icon-transparent/logout-icon-transparent-10.jpg'), destroy_user_session_path, method: :delete %>
        </div>
        <div id="controller" class="nav-item">
          <img src="https://image.flaticon.com/icons/svg/70/70460.svg">
        </div>
        <div class="nav-item">
          <a href="#">
            <img src="https://image.flaticon.com/icons/svg/131/131155.svg">
          </a>
        </div>
        <div class="nav-item">

          <%= link_to image_tag('https://image.flaticon.com/icons/svg/771/771605.svg'),edit_user_registration_path %>
        </div>
      </div>
    <!--   <div class="outer-nav-item">
        <a href="#">
          <img src="https://image.flaticon.com/icons/svg/1152/1152935.svg">
        </a>
      </div> -->
    </div>
    <% else %>
    <% end %>


