<div class="container">
  <h3 class="center-title"><%= current_user.last_name%>'s dashboard</h3>
  <br>
  <h4 class="left-title">Your guides</h4>
  <div class="guides">
    <div class="cards">
      <h5>Card one</h5>
    </div>
    <div class="cards">
      <h5>Card one</h5>
    </div>
    <div class="cards">
      <h5>Card one</h5>
    </div>
  </div>
    <br>
    <br>
  <h4 class="left-title">Guides you might like</h4>
  <div class="guides">
    <div class="cards">
      <h5>Card one</h5>
    </div>
    <div class="cards">
      <h5>Card one</h5>
    </div>
    <div class="cards">
      <h5>Card one</h5>
    </div>

</div>
<main>
 <section class="navigationBackground">

 </section>
 <section class="content">
  <div class="navTrigger">
   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart"><line x1="12" y1="20" x2="12" y2="10"/><line x1="18" y1="20" x2="18" y2="4"/><line x1="6" y1="20" x2="6" y2="16"/></svg>
  </div>
  <div class="contentInner">
   <h1>Main Content</div>
  </div>
 </section>
</main>
