<div class="container">

  <div class="banner home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2827380/pexels-photo-2827380.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">

    <div class="button-holder">
      <%= link_to "log in", new_user_session_path, class: "color-btn black"  %>
      <%= link_to "sing up", new_user_registration_path, class: "color-btn black"  %>
    </div>

    <div class="content">
      <h1>Guide Me</h1>
      <p>Simplify your trips</p>
      <div class="row d-flex justify-content-center">
        <%= link_to "Explore Now", guides_path, class: "btn-small btn-light whiter col-sm-4 m-3"%>
      </div>
      <div class="row d-flex justify-content-center">
        <%= link_to "log in", new_user_session_path, class: "btn-small btn-light-outline col-sm-4 m-3" %>
      </div>
    </div>
  </div>

  <div class="row instructions-container">
      <div class="instruction col-sm-12 col-md-4">
        <h3>Browse</h3>
        <img src="">
        <p>Browse among hundreds of guided tours available</p>
      </div>

      <div class="instruction col-sm-12 col-md-4">
        <h3>Create</h3>
        <img src="">
        <p>Or create your own personal itinerary</p>
      </div>

      <div class="instruction col-sm-12 col-md-4">
        <h3>Share</h3>
        <img src="">
        <p>Share it with your friends!</p>
      </div>
  </div>
</div>




