.banner {
  margin: 0;
  width: 100%;
  height: 600px;
  font-family: "Exo", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 5s ease infinite;
  opacity: 0.4;
}
// .banner:not(.content)

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content {
  width: 100%;
  position: absolute;
  top: 35%;
  padding: 90px;
  text-align: left;
  & h1{
    color: black;
    font-size: 70px;
    font-weight: bold;
  }
}
