.banner {
  margin: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  width: 100%;
  position: absolute;
  top: 27%;
  padding: 40px;
  text-align: center;
  & h1 {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
  }
  & p {
    color: white;
    font-size: 1.25rem;
  }

}

.color-btn{
  text-decoration: none;
  border: 1px solid white;
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0.6rem 1.1rem;
  background-color: transparent;
  transition: all ease .3s;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.container {
  margin: 0;
  padding: 0;
}









