.btn-large {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100%;
  border-radius: 12px;
}

.btn-small {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 40%;
  border-radius: 12px;
}

.btn-dark {
  background-color: $action-dark;
}

.btn-light {
  background-color: $action-light;
}

.btn-light-outline {
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
}

.btn-heart {
  background-color: $white;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  box-shadow: 0 2px 5px $gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 279px;
  left: 306px;

  #heart-icon {
    color: $red;
    font-size: 22px;
    transition: all 0.2s ease;
  }
}
.counter{
  padding:50px;

}

.bigger-heart {
  font-size: 26px !important;
}

.whiter {
  color: $white;
}
