body {
  background-color: white;
}
#user-name {
  font-weight: bold;
}
.card-container {
  width: auto;
  height: auto;
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}
.card-box {
  margin:  15px 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  background-color: $action-light;
  border-radius: 7px;
  height: 100px;
  box-shadow: 9px 7px 32px -19px rgba(0,0,0,0.55)
}
.image {
  position: absolute;
  top: -8px;
  right: 10px;
  & img {
    border-radius: 5px;
    width: 80px;
    height: 80px;
  }
   & p {
     color: $light-gray;
     text-align: center;
    font-size: 12px;
  }
}
.contentz {
  width: 230px;
  & .name {
    margin-top: 15px;
    font-size: 10px;
    color: white;
    text-decoration: underline;
  }
  & .card-title-class {
    font-size: 16px;
    font-weight: lighter;
    color: white;
  }
  & p {
    font-size: 12px;
    margin:0;
    color: $light-gray;
  }
}
#link-spacer {
  font-size: 15px;
    color: white;
    margin: 0 5px;
}


























