body {
  background-color: white;
}
#user-name {
  font-weight: bold;
}
.card-container {
  width: auto;
  height: 300px;
}
.center-title{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.left-title{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  font-weight: lighter;
  margin-left: 8px;
}
* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}
.card-box {
  margin:  15px 8px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  background-color: #4396F1;
  border-radius: 7px;
  height: 100px;
  box-shadow: 9px 7px 32px -7px rgba(0,0,0,0.55)
}
.image {
  position: absolute;
  top: -8px;
  right: 10px;
  & img {
    border-radius: 5px;
    width: 80px;
    height: 80px;
  }
   & p {
     color: lightgrey;
     text-align: center;
    font-size: 12px;
  }
}
.contentz {
  width: 200px;
  & .name {
    margin-top: 15px;
    font-size: 10px;
    color: white;
  }
  & .card-title-class {
    font-size: 16px;
    font-weight: lighter;
    color: white;
  }
  & p {
    font-size: 12px;
    margin:0;
    color: lightgrey;
  }
}
