body {
  background-color: white;
}
.center-title{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.left-title{
  font-family: 'Roboto', sans-serif;
  text-align: left;
}
.guides {
  display: flex;
  flex-wrap: wrap;

}
.cards {
  box-shadow: 0px 1px 2px 0px #d1d1d1;
  height: 150px;
  width: calc(50% - 15px);
      margin: 10px 7px 10px 7px;
  padding: 20px;
  & h5 {
    text-align: center;
  }
}
.guides {
  box-shadow: 0px 1px 4px 0px #d1d1d1;
  border-radius: 5px;
}



main {
 position: relative;
 width: 320px;
 height: 550px;
 margin: 20px auto;
 overflow: hidden;
 box-shadow: 0 3px 6px 0 #ccc;
}
.navigationBackground {
 width: 100%;
 height: 100%;
 background-image: linear-gradient(
  115deg,
  rgb(241, 194, 93),
  rgb(252, 120, 106)
 );
 top: 0;
 left: 0;
 position: absolute;
 z-index: 1;
}
.navTrigger {
 position: absolute;
 top: 0;
 left: 0;
 padding: 15px;
 svg {
  fill: orange;
  transform: rotate(90deg) scaleX(-1);
 }
 cursor: pointer;
}

.content {
 width: 100%;
 height: 100%;
 position: absolute;
 background: #fff;
 z-index: 2;
 transition: transform .4s linear, opacity .2s linear .2s, visibility 0s linear .4s;
 transition-timing-function: cubic-bezier(.8,0,.6,1), linear, linear;
 &.scaled {
  transform: scale(.9) translateX(50%);
  border-radius: 3px;
  box-shadow: 0 3px 22px 0 #bd744b;
 }
 .contentInner {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  h1 {
   padding-top: 3px;
   font-size: 1.33rem;
   text-align: center;
   font-weight: 500;
  }
 }
}

