
.dashboard-container {
  padding: 5px;
}

.section-title {
  text-align: center;
  color: $dark-gray;
  font-size: 1rem;
  i {
    padding: 4px;
  }
}

.dash-links{
  margin: 30px;
  text-align: center;
}

.tab-link {
  background-color: $action-light;
  border-radius: 50%;
  padding: 16px;
  margin: 6px;
    width: 40px;
    height: 40px;

  i {
    color: $white;
  }
}
