* {
  font-family: inherit;
}
.convo-title {
margin: 15px;
}
.convo-inbox {
  margin: 15px;
  & .convo-convo {
    & p {
      & a {color: $action-dark;}
      padding: 10px;
      background-color: #def7f778;
      width: fit-content;
      border-radius: 5px;
      margin: 5px;
    }
  }
}

.message-wrapper {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.msg-container {
  padding: 1rem;
  background: #ECF0F1;
  overflow: scroll;
  flex: 1;
  transition: all 1s ease;
  // height: 600px;
}
.rep-container {
  padding: 0 15px;
  background-color: #ECF0F1;
  height: 50px;
}
.msg-input {
      border: none;
      background-image: none;
      background-color: white;
      padding: 0.5rem 1rem;
      margin-right: 1rem;
      border-radius: 1.125rem;
      flex-grow: 2;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
      font-weight: 400;
      letter-spacing: 0.025em;
      height: 40px;
      width: 250px;
    }
 .msg-msg {
    box-sizing: border-box;
      padding: 0.5rem 1rem;
      margin: 1rem;
      background: #FFF;
      border-radius: 1.125rem 1.125rem 1.125rem 0;
      min-height: 2.25rem;
      width: fit-content;
      max-width: 66%;
      box-shadow: 0px 0px 35px -15px rgba(255,255,255,1);
  }
  .sender {
        margin: 1rem 1rem 1rem auto ;
        border-radius: 1.125rem 1.125rem 0 1.125rem;
        background: gray;
        color: white;
      }
.msg-reply {
  display: flex;
  position: relative;
}

.our-button{
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #007BEF;
  margin-right: 10px;
  position: absolute;
  top: 0px;
  right: 0;
  border: none;
}



.center{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
  color:#333;
  & .dfbdb {
    text-align: center;
    margin: auto 5px;
    font-size: 10px;
  }

  input, textarea {
    width:100%;
    padding: 10px;
    // margin:5px;
    border:1px solid #ccc;
  }
}
#guide_overview {
  border: 1px solid lightgray;
}

#new_user {
 width: 310px;
}


.bottom-text{
  margin-top: 60px;
  text-align: center;
  font-size: 10px;
}














