#heart-icon {
  color: $red;
  font-size: 22px;
  transition: all 0.2s ease;
}

#star-icon {
  color: $yellow;
}

.info-icon {
  font-size: 1rem;
  color: $dark-gray;
}

.online-icon {
  font-size: 10px;
  position: relative;
  top: -5px;
  color: #a1dd70;
}
