.navbar {
  position: absolute;
  width: 356px;
  height: 19.5px;
  left: 6px;
  top: 44px;
}

.logo{
  position: absolute;
  left: -6.25%;
  right: -7.81%;
  top: 0%;
  bottom: -26.32%;
}


.hamburger-menu {
  position: absolute;
  width: 27px;
  height: 22px;
  left: 324px;
  top: -2.5px;
}
