#nav-container {
  position:sticky; // change to fixed
  top: 600px;
  left:0;
  width:100%;
  height:40px;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  &.active {
    .outer-nav-item {
      &:first-of-type {
        left:-40px;
        img {
          transform:rotate(-180deg);
        }
      }
      &:last-of-type {
        right:-40px;
        img {
          transform:rotate(180deg);
        }
      }
    }
    #nav {
      width:95%;
      border-radius:25px;
      transition:width .5s ease;
      .nav-item {
        &#controller {
          transform:rotate(0deg);
        }
        &:not(#controller) {
          transition: all .5s ease;
          position:absolute;
          &:first-of-type {
            left:12.5%;
            transform:translateX(-50%);
          }
          &:nth-child(2) {
            left:32.5%;
            transform:translateX(-50%);
          }
          &:nth-child(4) {
            right:32.5%;
            transform:translateX(50%);
          }
          &:last-of-type {
            right:12.5%;
            transform:translateX(50%);
          }
          img {
            transform:rotate(0deg);
          }
        }
      }
    }
  }
  .outer-nav-item {
    position:absolute;
    width:40px;
    height:40px;
    background-color:#4AA7AE;
    border-radius:50%;
    transition:all .5s ease;
    display:flex;
    justify-content:center;
    align-items:center;
    &:first-of-type {
      left:20%;
      transform:translateX(-50%);
        img {
          transform:rotate(0deg);
        }
    }
    &:last-of-type {
      right:20%;
      transform:translateX(50%);
        img {
          transform:rotate(0deg);
        }
    }
    img {
      width:20px;
      transition:all .5s ease;
    }
  }

  #nav {
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    background-color:#4FD2BB;
    width:50px;
    border-radius:50%;
    transition:all .5s ease;
    .nav-item {
      display:flex;
      justify-content:center;
        &#controller {
          transform:rotate(45deg);
          transition:transform .25s ease;
          z-index:1;
          background-color: #4FD2BB;
          height:50px;
          width:50px;
          border-radius:50%;
          img {
            width:15px;
          }
        }
        &:not(#controller) {
          position:absolute;
          transition:all .5s ease;
        }
        &:nth-child(-n + 2) {
          left:50%;
          transform:translateX(-50%);
          img {
            transform:rotate(90deg);
          }
        }
        &:nth-last-child(-n + 2) {
          right:50%;
          transform:translateX(50%);
          img {
            transform:rotate(-90deg);
          }
        }
        img {
          transition:all .5s ease;
          width:25px;
        }
      }
  }
}
