.navbar {
  position: sticky;
  width: 100%;
  height: auto;
  justify-content: space-between;
  background-color: $white;
  margin: 0;
  padding: 0.25rem 1rem;
}

.navbar .navbar-brand img {
  width: 30px;
}

.navbar-toggler {
  border-style: none;
}

.navbar-toggler:focus {
  -webkit-appearance: none;
  border-color: inherit;
  box-shadow: none;
  background-color: inherit;
  outline: none;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    overflow: hidden;
}

#sidebar {
    position: absolute;
    min-width: 250px;
    max-width: 250px;
    background-color: #DCDBDB;
    opacity: 0.98;
    opacity: 0.98;
    right: 0px;
    padding: 12px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    transition:1s;
    transform: translateY(6px);

}

#sidebar.active {
  display: none;
  right: -250px;
  transition:1s;

}

.nav-items {
  list-style-type: none;
}


.home-navbar {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.button-holder {
  position: absolute;
  top: 10px;
  left: 236px;

  .link-dark {
    color: $white;
    padding: 5px;

    a {
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

