.search {
  width: 80%;
  display: flex;
  justify-content: left;
  background-color: $light-gray;
  border-radius: 40px;
  position: relative;
  margin: 20px auto;
  padding: 5px 25px;

  i {
    color: $dark-gray;
  }
}

.form-control {
  padding: 5px;
  height: 36px;
  // color: $light-gray;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: $light-gray;
}

.search-button {
width: 40px;
height: 36px;
border: none;
background: transparent;
border-radius: 0 5px 5px 0;
cursor: pointer;
font-size: 20px;
position: absolute;
}
