.img-container {
  position: relative;
  display: block;
  width: 100%;
}

.guide-image{
  height:300px;
  opacity: 1;
  background: center;
}

.show-container {
  padding: 15px;
  color: $black;
}

//how many images we have
$slides: 4;

// how much we want each slide to show
$time_per_slide: 2;

// total time needed for full animation
$total_animation_time: $time_per_slide * $slides;
h3, p{
  margin: 0;
}

.show-title {
  padding-bottom: 10px;

  #location {
    font-size: 1rem;
  }
}

// .line {
//   border-bottom: 1px solid white;
//   width: 50%;
//   height: 10px;
//   margin-bottom: 8px;
// }
// .sho-line-container {
//   display: flex;
//   position: relative;
//   & #sho-location {
//     margin-right: 15px;
//     margin-bottom: 0;
//   }
// }


// .photo{
//   position:absolute;
//   animation:round #{$total_animation_time}s infinite;
//   opacity:0;

// }
// @keyframes round{
//   25%{
//     opacity:1;
//   }
//   40%{
//     opacity:0;
//   }
// }

// @for $index from 1 to $slides + 1{
//   img:nth-child(#{$index}){
//     animation-delay:#{$total_animation_time - $time_per_slide * $index}s
//   }
// }

.sho-box-view{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sho-box-item{
  width: 48%;
  height: 100px;
  background-color: $light-gray;
  margin-top: 8px;
  border-radius: 5px;
  text-align: center;
  color: $action-dark;
  padding: 5px;
  & h5 {
    margin: 0;
  }
  & .sho-icon {
    font-size: 45px;
    color: $action-dark;
  }
}


.myButton {
  border-radius:5px;
  border:1px solid $action-dark;
  color: $action-dark;
  font-size:17px;
  padding:14px 25px;
  margin-right: 5px;
}






















