
<h1 id="stop-name"><%= stop.name %></h1>
<p id="stop-description"> <%= stop.description %></p>
<div id="stop-image"><%= image_tag(stop.image , height: "135") %></div>
<p id="stop-order"><%= stop.list_order%></p>
