
<div class="search">
  <%= form_tag guides_path, method: :get do %>
    <%= text_field_tag :query,
        params[:query],
        class: "searchTerm",
        placeholder: "Search guides"%>
      <%= button_tag type: :submit, class: "searchButton" do %>
        <i class="fa fa-search"></i>
      <% end %>
  <% end %>
</div>

<!-- <div class="top-guides">
</div> -->

<%= render 'shared/guide_cards' %>




